<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><%= category %> Products</h1>
    <% for(let p of products) { %>
        <p><b><%= p.name %></b> <%= p.price %> <%= p.category %> <em><a href="/products/<%= p._id %>"> View product</a></em><p>   
    <% } %>
    <hr>
    <p><a href="/products/new">Add new product</a></p>
    <% if(category!=='All') { %>
        <p><a href="/products/">All products</a></p>
    <% } %>
</body>
</html>