<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/products/<%= product._id%>?_method=PUT" method="POST">
    <p><%=product.id%></p>
    <label for="name">Name</label>
    <input type="text" name="name" id="name" placeholder="Product name" value="<%= product.name %>">
    <label for="price" placeholder="price">Price</label>
    <input type="number" name="price" id="price" value="<%= product.price %>">
    <select name="description" id="description">
        <option value="fruit" <%= product.description === 'fruit' ? 'selected' : ''  %>>Fruit</option>
        <option value="vegetable" <%= product.description === 'vegetable' ? 'selected' : ''  %>>Vegetable</option>
        <option value="dairy" <%= product.description === 'dairy' ? 'selected' : ''  %>>Dairy</option>
    </select>
    <button>Submit</button>
    </form> 
    <a href="/products/<%= product._id%>">Cancel</a>
</body>
</html>
