<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Products</h1>
    <% for(let p of products) { %>
        <p><b><%= p.name %></b> <%= p.price %> <%= p.description %><p>
            <em><a href="/products/<%= p.id %>">View product <%= p.id %></a></em>
    <% } %>
</body>
</html>