<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title><%= product.name %></title>
</head>
<body>
    <p><b><%= product.name %></b> <%= product.price %> <%= product.description %><p>
        <p><a href="/products/<%= product._id %>/edit">Edit product</a></p>
    <p><a href="/products">All products</a></p>
</body>
</html>